services:
  backend:
    build: ./backend
    container_name: backend
    ports:
      - "4000:4000"
    env_file:
      - ./backend/.env
    restart: unless-stopped

  frontend:
    build: ./frontend
    container_name: frontend
    ports:
      - "5173:80"
    env_file:
      - ./frontend/.env
    depends_on:
      - backend
    restart: unless-stopped

  admin:
    build: ./admin
    container_name: admin
    ports:
      - "3002:80"
    env_file:
      - ./admin/.env
    depends_on:
      - backend
    restart: unless-stopped
